/* header */
header{
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
}
header > div{
    height: 60px;
}


/* utility */

.w-65{
    width: 65%;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
    margin-left: 1em;
}
a{
    text-decoration: none;
    color: white;
}

/* Main */
main{
    height: calc(100vh - 60px);
}


/* sidebar */
.sidebar{
    width: 80px;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
}
.sidebar > div{
    height: 100%;
}

@media screen and (min-width: 1000px) {
    .sidebar{
        width: 150px;
    }
}

/* Main-Part Section */
#main-part{
    color: white;
    width: calc(100% - 80px);
}

@media screen and (min-width: 1000px) {
    #main-part{
        width: calc(100% - 150px);
    }
}

/* div boolean */
#boolean{
    background-color: #1B72E8;
}

.text-bg-dark {
    background-color: RGBA(33,37,41,var(--bs-bg-opacity,0.5))!important;
}


/* Table */
.table .btn{
    --bs-btn-font-size: 0.6rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.25rem;
}
.card tr th:first-child{
    width: 50%;
}
/* FAQ */
.card ul li{
    margin-left: 0;
}
.list-faq > li > .freccia-su,
.list-faq > li > .freccia-giu{
    right: 1em;
    top: 0.5em;
}
.list-faq > li > .freccia-su,
.list-faq > li > p{
    display: none;
}
.list-faq > li:hover > p{
    display: block;
}
.list-faq > li:hover > .freccia-su{
    display: inline-block;
}
.list-faq > li:hover > .freccia-giu{
    display: none;
}


/* Hide scrollbar for Chrome, Safari and Opera */
#main-part::-webkit-scrollbar{
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#main-part {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* Stats */
#stats a{
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: underline;
}
